In [ ]:
# does not have inbult function Arrays
#used to store multiple values in single variable
# for storing a list of multiple items arrays can be used
#n array can hold many values under a single name, and you can access the values by referring to an index number.
# by the value of index number we can access any number of arrays

In [37]:
cars = ["ford","volvo","mahindra"]

In [4]:
cars

['ford', 'volvo', 'mahindra']

In [5]:
len(cars) # for lenght of array

3

In [6]:
for x in cars:         # by the help of for loop we can print each element of array
    print(x)

ford
volvo
mahindra

In [13]:
cars.append('tata') # for adding element in the array
cars

['ford', 'volvo', 'mahindra', 'tata']

In [14]:
cars.pop(0) # for remove specific element by index number in .pop( add here index number)
cars

['volvo', 'mahindra', 'tata']

In [15]:
cars.remove("tata")# remove by the element name .remove(Name of element in quote)
cars

['volvo', 'mahindra']

In [19]:
a = cars.copy() # copy the list
a

['volvo', 'mahindra']

In [36]:
cars.count('mahindra') # Returns the number of elements with the specified value

2

In [46]:
#insert()	Adds an element at the specified position
cars.insert(5,'bmw')# add the index number where you want to insert comma in quotes add the name of element
cars

['ford',
 'volvo',
 'maruti',
 'maruti',
 'mahindra',
 'bmw',
 'bm2',
 'bmx',
 'maruti']

In [83]:
#extend()	Add the elements of a list (or any iterable), to the end of the current list
cars.extend("A")# adds the single element at the end of list
cars

['ford',
 'volvo',
 'maruti',
 'maruti',
 'mahindra',
 'bmw',
 'bm2',
 'bmx',
 'maruti',
 'A']

In [88]:
#index()	Returns the index of the first element with the specified value
cars.index('ford')# fives index number of specific element

0

In [95]:
#reverse()	Reverses the order of the list
cars.reverse()# reverse the order of elements
cars

['volvo',
 'maruti',
 'maruti',
 'maruti',
 'mahindra',
 'ford',
 'bmx',
 'bmw',
 'bm2',
 'A']

In [99]:
#sort()	Sorts the list
cars.sort() # sort the  list by a to z
cars

['A',
 'bm2',
 'bmw',
 'bmx',
 'ford',
 'mahindra',
 'maruti',
 'maruti',
 'maruti',
 'volvo']

In [101]:
#clear()	Removes all the elements from the list
cars.clear() # remove all the elements of the list
cars

[]